@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form>
    <input type="text" id="id" name="id" placeholder="Username" />
    <input type="text" id="pass" name="pass" placeholder="Password" />
</form>
<a class="btn btn-success" href="/Home/Reflective/?username=peter" > Submit </a>