@{
    ViewBag.Title = "Admin Logs";
}

<div id="replaceMe">
<div class="full_wrap">
    <div class="table_wrap">
        <table class="table_view" id="invalidLoginTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>user</td>
                    <td>qwerty123</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="view_wrap" style="width: 500px;">
        <div class="view_div">
            <h1>@ViewBag.Title.</h1>
            <p>
                As an admin you need to check the login logs to ensure no suspicious activity
                has been occurring. When you are ready to view the logs please click this
                button and they will appear!
            </p>
            <br />
            <button class="view_logss view_logs" onclick="updateLog()">View Logs!</button>
            <br />
            <!--<button class="print_db" onclick="printDB">Print the DB (Console)!</button>-->
        </div>
    </div>
</div>
</div>

