@{
    ViewBag.Title = "XSS DOM Vulnerability";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h1>
    Welcome to the DOM XSS page,
    <script>
        var pos = document.URL.indexOf("context=") + 8;
        var val = (document.URL.substring(pos, document.URL.length));
        document.write(unescape(val));
    </script> !
</h1>
<p>Paste a script into the URL and see if DOM works: E.G Script DOM/?context=[INSERTJAVASCRIPTHERE]</p>