@{
    ViewBag.Title = "XSS Vulnerability Reflective";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Welcome to the vulnerable page</h1>
<p>Please a javascript script to perform XSS</p>
<input type="text" id="ref" name="reflect" placeholder="Reflective goes here">
<button onclick="DoAThing()">Reflective!</button>
<div id="Content">
</div>

<script>
    function DoAThing() {
        $("#Content").html($("#ref").val());
    }
</script>