@{
    ViewBag.Title = "UnReflective";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Welcome to the non-vulnerable page</h1>
<p>Please try to hack me, good luck :D</p>
<input type="text" id="ref" name="reflect" placeholder="Reflective goes here">
<button onclick="DoAThing()">Reflective!</button>
<div id="Content">
</div>

<script>
    function DoAThing() {
        $("#Content").html(document.getElementById($("#ref").val()).value);
    }
</script>